body{
  background-color: #b6cff5;
  margin: 5vw 5vh;

}

#tax-cal-form,#etf-cal-form,#min-salary-form,#cost-cal-form,#emp-cal-form{

  label{
    font-size: 1.5rem;
    padding-top: 10px;
  }
  width: 500px;
  input{
    margin: 10px;
    width: 60%;
    border: 1px solid #5d5858;

  }
  button{
    width: 200px;
    margin: 10px;
  }
  div{
    font-size: 1.5rem;
  }
}
.result-font{
  font-size: 1.5rem;
}
header,#min-salary-form,.div-gap{
  padding-bottom: 30px;
}
.div-gap{

}
//#etf-div{
//  margin: 20px;
//}
//#emp-cal-form{
//  margin-top: 40px;
//}