body{
  background-color: #b6cff5;
  margin: 5vw 5vh;

}

#tax-cal-form,#etf-cal-form,#min-salary-form,#cost-cal-form,#emp-cal-form{

  label{
    font-size: 1.5rem;
  }
  width: 500px;
  input{
    margin: 10px;

  }
  button{
    width: 200px;
    margin: 10px;
  }
  div{
    font-size: 1.5rem;
  }
}
.result-font{
  font-size: 1.5rem;
}
header,#min-salary-form{
  padding-bottom: 30px;
}
#etf-div{
  margin: 20px;
}
#emp-cal-form{
  margin-top: 40px;
}